#programs {
    display:flex;
}
#breadcrumbs {
    width: 200px;
    position: fixed;
}
#contents {
    margin-left: 250px;
}



#contents a {
    text-decoration: none;   
    font-style: bold;
    color: #7c55c4;
}
#contents a:hover {
    text-decoration: underline;
}