#title {
    margin-top: 10px;
    /* border-bottom: 1px solid #303030; */
    display: inline-block;
    font-weight: bold;
    font-size: x-large;
    color: #8770B1;
}

#description {
    margin: 10px;
}

#img {
    margin: 10px;
}