body {
    background-color: #303030;
}

h1, h3, a:link {
    color: #8770B1;
}

#text-large {
    font-size: large;
}

#text-medium {
    font-size: medium;
}

.logo2 {
    height: 76px;
    width:  76px;
    margin: -7px 0px -12px 0px;
}
