body {
    background-color: #303030;
}

h1, h3 {
    color: #8770B1;
}

#text-large {
    font-size: large;
}

#text-medium {
    font-size: medium;
}

#logo2 {
    margin: 0;
    height: 60px;
    width:80px;
}
